<div class="container">
    <div class="row"><center><h1>VidSync</h1></center></div>
    <div class="row">
            <div class="alert alert-secondary" role="alert">
                To ensure everyone is ready please wait until you see all of your friends in the view count! Video requests are coming soon, until then enjoy this sample.
            </div>
        </div>
    <div class="row">
        <center>
        <div class=""><video controls id="video-player"></video></div>
        </center>
        <div class="row">
            <div class="col-md-8"></div>
            <div class="col-md-2">
                <i class="bi bi-person-circle"></i>
                <label id="view_count"> View Count: 0 </label>
            </div>
        </div>
    </div>
    
</div>

