<div class="container">
    <h1> Welcome to VidSync! </h1>
    <p> We are currently under construction, if you would like to an amazing bunny clip click below! </p>
    <%= link_to "Bunny Party", video_path(1) %>
</div>