<div class="container">
    <h1> Welcome to VidSync! </h1>
    <p> Please try to keep viewing party videos short. If you would like to watch a video more than 20 minutes long, there may be delays. </p>
    <p> To get started go ahead and create a party and enter in a Youtube video ID </p>
</div>